* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Josefin Sans", sans-serif;
}

header {
 width: 100%;
 height: 100vh;
 background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
  url("pj.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
}
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 30px;
 padding-left: 8%;
 padding-right: 8%;
}

nav ul li {
 list-style-type: none;
 display: inline-block;
 padding: 10px 25px;
}

nav ul li a {
 color: white;
 text-decoration: none;
 font-weight: bold;
 text-transform: capitalize;
}

nav ul li a:hover {
 color: crimson;
 transition: .4s;
}



main {
 width: 100%;
 height: 85vh;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;
}

section h3 {
 font-size: 35px;
 font-weight: 200;
 letter-spacing: 3px;
 text-shadow: 1px 1px 2px black;
}

section h1 {
 margin: 30px 0 20px 0;
 font-size: 55px;
 font-weight: 700;
 text-shadow: 2px 1px 5px black;
 text-transform: uppercase;
}

section p {
 font-size: 25px;
 word-spacing: 2px;
 margin-bottom: 25px;
 text-shadow: 1px 1px 1px black;
}

section a {
 padding: 12px 30px;
 border-radius: 4px;
 outline: none;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 500;
 text-decoration: none;
 letter-spacing: 1px;
 transition: all 0.5s ease;
}

section .btnone {
 /*background: #00b894;*/
 background: #fff;
 color: #000;
}

.btnone:hover {
 background: #00b894;
 color: white;
}

section .btntwo {
 background: #00b894;
 color: white;
}

.btntwo:hover {
 background: #fff;
 color: #000;
}

.change_content:after {
 content: "";
 animation: changetext 10s infinite linear;
 color: #00b894;
}

@keyframes changetext {
 0% {
  content: "Amritsar";
 }

 /* 20% {
  content: "";
 }

 35% {
  content: "Kanya Kumari";
 }

 60% {
  content: "Rameshwaram";
 }

 80% {
  content: "Kanchipuram";
 }

 100% {
  content: "Thanjavur";
 } */
}